[Launcher]
show-description=true
show-as-list=false

[Appearance]
background-opacity=95
category-icon-size=24
item-icon-size=24
button-icon-size=24
button-style=2

[Behavior]
display-recently-used=true
recently-used-count=10
display-favorites=true
switch-categories-delay=0
stay-on-focus-out=false

[Search]
search-actions=true

[Profile]
display-profile=true
